---
layout: layouts/base.njk
title: Chris Watson - Full Stack Engineer, 3D Printing Enthusiast, and Open Sourcerer
description: Personal website for Chris Watson, also known as @watzon most places.
---