@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

$avatar-width: 80px;

body {
    font-family: 'Roboto', Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    color: #121212;
}

a {
    color: #444;
    text-decoration: none;

    &:hover {
        color: #121212;
    }
}

p {
    font-size: 13pt;
    color: #333;
}

@for $i from 1 through 5 {
    .spacer-#{$i} {
        display: block;
        width: 100%;
        margin-top: #{10 * $i}px;
    }
}

.title {
    font-size: 2em;
    font-weight: 300;
}

.main-content {
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

@import "_nav";
@import "_home";
@import "_resume";
@import "_projects";
@import "_contact";
