---
import { Icon } from 'astro-icon/components';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Chris Watson. All rights reserved.
	<div class="social-links">
		<a href="https://watzonmanor.com/@watzon" target="_blank">
			<span class="sr-only">Follow Watzon in the Fediverse</span>
			<Icon name="mdi:mastodon" class="w-8 h-8" />
		</a>
		<a href="https://www.tiktok.com/@3dprintifer" target="_blank">
			<span class="sr-only">Follow Watzon as @3dprintifer on TikTok</span>
			<Icon name="ic:baseline-tiktok" class="w-8 h-8" />
		</a>
		<a href="https://github.com/watzon" target="_blank">
			<span class="sr-only">Check out Watzon's projects on Github</span>
			<Icon name="mdi:github" class="w-8 h-8" />
		</a>
	</div>
</footer>
<style>
	footer {
		@apply py-8 px-4 pb-24 text-center;
	}
	.social-links {
		@apply flex justify-center gap-4 mt-4;
	}
	.social-links a {
		@apply no-underline text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100;
	}
</style>
