---
import HeaderLink from './HeaderLink.astro';
---

<header class="m-0 px-4">
	<nav class="flex justify-between items-center">
		<span></span>
		<div class="flex justify-between gap-4 items-center">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/posts">Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
		</div>
		<div class="flex items-center">
			<!-- Theme toggle -->
		</div>
	</nav>
</header>

<style lang="postcss">
	nav a {
		@apply py-4 px-2 text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100;
	}
	nav a.active {
		text-underline-offset: 12px;
		text-decoration-line: underline;
		text-decoration-style: wavy;
		text-decoration-thickness: 2px;
	}
</style>
