---
import { Icon } from 'astro-icon/components';
---

<button id="themeToggle">
    <Icon name="mdi:weather-sunny" class="sun w-8 h-8 text-gray-800" />
    <Icon name="mdi:weather-night" class="moon w-8 h-8 text-gray-100" />
    <Icon name="mdi:weather-partly-cloudy" class="system w-8 h-8 text-gray-100 dark:text-gray-800" />
</button>

<style>
    .sun, .moon, .system {
        display: none;
    }
</style>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const themeToggle = document.getElementById('themeToggle');
        const currentTheme = localStorage.getItem('theme') || 'system';

        // Apply the saved theme
        setTheme(currentTheme);

        themeToggle.addEventListener('click', toggleTheme);
    });

    function toggleTheme() {
        const currentTheme = localStorage.getItem('theme');
        const newTheme = currentTheme === 'dark' ? 'light' : currentTheme === 'light' ? 'system' : 'dark';

        setTheme(newTheme);
        localStorage.setItem('theme', newTheme);
    }

    function setTheme(theme) {
        if (theme === 'dark') {
            document.documentElement.classList.add('dark');
        } else if (theme === 'light') {
            document.documentElement.classList.remove('dark');
        } else if (theme === 'system') {
            const systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            document.documentElement.classList.toggle('dark', systemTheme === 'dark');
        }

        // Adjusting icons visibility
        const sunIcon = document.querySelector('.sun');
        const moonIcon = document.querySelector('.moon');
        const systemIcon = document.querySelector('.system');

        sunIcon.style.display = theme === 'light' ? 'block' : 'none';
        moonIcon.style.display = theme === 'dark' ? 'block' : 'none';
        systemIcon.style.display = theme === 'system' ? 'block' : 'none';
    }
</script>